/* Main Styles */

body {
  font-family: sans-serif, arial;
  font-weight: normal;
  font-size: 14px;
  background-color: #00BFFF;
}

html,
body,
.container,
.main-map {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 1.7em;
  color: #ffffff;
}

h3 {
  color: #d9d9d9;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  font-size: 1.4em;
  margin: 0.5em 0;
  color: #ffffff;
  cursor: pointer;
}

li:hover {
  color: #d92b4b;
}

.search-input {
  margin-right: 1em;
  padding: 4px;
  font-size: 15px;
  border-radius: 10px;
  width: 200px;
}

button {
	padding: 6px;
	border-radius: 10px;
	font-size: 15px;
	color: white;
	background-color: #DC143C;
}

.text-container {
  padding-left: 15px;
}

/* InfoWindow Styles */

h4 {
  color: black;
  margin: 0;
  font-size: 1.2em;
}

h5 {
  margin: 0;
  color: #707070;
  font-size: 1em;
}

h6 {
  color: #388e8e;
  font-size: 0.9em;
  margin: 0.3em 0 0 0;
}

a {
  text-decoration: none;
  color: #a62139;
}

a:hover {
  color: #388e8e;
}

/* Map */

.main-map {
  position: relative;
  height: 100vh;
}

/* Mobile Styles for Offscreen Menu */
/* Credits:;
* Off-canvas slide menu for bootstrap:
* http://blog.themearmada.com/off-canvas-slide-menu-for-bootstrap/
* CSS Hamburger icon:
* http://elijahmanor.com/css-animated-hamburger-icon/
*/

.nav-expander {
  background: none repeat scroll 0 0 #00BFFF;
  color: #ffffff;
  display: block;
  font-size: 1em;
  margin-right: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 60px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}

.nav-expander span,
.nav-expander span:before,
.nav-expander span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 6px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
}
.nav-expander span:before {
  top: -11px;
}
.nav-expander span:after {
  bottom: -11px;
}

.nav-expander:hover {
  cursor: pointer;
}

.nav-expander.fixed {
  position: fixed;
  display: none;
}

.nav-expanded a.nav-expander.fixed {
  right: 15em;
}

nav {
  background: #00BFFF;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -15em;
  font-size: 15px;
  top: 0;
  width: 15em;
  z-index: 2000;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}

.nav-expanded nav {
  right: 0;
}

.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

.main-menu {
  background-color: #00BFFF;
}

.mobile-list {
  padding-left: 1em;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .desktop-list {
    display: none;
  }

  h1,
  h3,
  .search-area {
    margin: 8px;
  }

  .search-area {
    height: 5vh;
  }

  .nav-expander.fixed {
    display: block;
  }

  .main-map {
    position: absolute;
    height: 80vh;
  }
}

@media screen and (max-width: 668px) {
	h1 {
		font-size: 1.2em;
	}
}
